In [1]:
import mysql.connector

In [15]:
con = mysql.connector.connect(
    user = 'ardit700_student',
    password = 'ardit700_student',
    host = '108.167.140.122',
    database = 'ardit700_pm1database'
)

In [16]:
cursor = con.cursor()

In [17]:
query = cursor.execute("SELECT * FROM Dictionary WHERE Expression = 'inlay'")
results = cursor.fetchall()

In [18]:
results

[('inlay', 'Something filling up a gap or covering up a (small) distance.')]

In [21]:
import pandas as pd


df = pd.DataFrame(data=[[1,2,3,4,5],[2,3,4,5,6]]) #, index = ['A','B'], columns=['A','B',3,4,5])

In [26]:
df.columns = [21,2,3,4,5]

In [28]:
df.index = [3,4]

In [29]:
df

   21  2   3   4   5
3   1   2   3   4   5
4   2   3   4   5   6

In [30]:
import geopy

In [31]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

In [37]:
nom.geocode('玉山 台灣').latitude

24.75899000000004