In [7]:
list_2d = [[1,2,3],[4,5,6]]
#flat_list = [itm for itm in item for item in list_2d] 
flat_list = [itm for item in list_2d for itm in item ]

In [8]:
flat_list

[1, 2, 3, 4, 5, 6]

In [11]:
tx = """
The online encyclopedia project Wikipedia is the most popular wiki-based website, and is one of the most widely viewed sites in the world, having been ranked in the top twenty since 2007.[3] Wikipedia is not a single wiki but rather a collection of hundreds of wikis, with each one pertaining to a specific language.
"""

w = [[x for x in line.split()] for line in tx.split('\n')]
w

[[],
 ['The',
  'online',
  'encyclopedia',
  'project',
  'Wikipedia',
  'is',
  'the',
  'most',
  'popular',
  'wiki-based',
  'website,',
  'and',
  'is',
  'one',
  'of',
  'the',
  'most',
  'widely',
  'viewed',
  'sites',
  'in',
  'the',
  'world,',
  'having',
  'been',
  'ranked',
  'in',
  'the',
  'top',
  'twenty',
  'since',
  '2007.[3]',
  'Wikipedia',
  'is',
  'not',
  'a',
  'single',
  'wiki',
  'but',
  'rather',
  'a',
  'collection',
  'of',
  'hundreds',
  'of',
  'wikis,',
  'with',
  'each',
  'one',
  'pertaining',
  'to',
  'a',
  'specific',
  'language.'],
 []]

In [14]:
## Dump textfile in to a list
text = [line.strip() for line in open('my.log')]
text

['2020-12-06 00:30:51,827 - root - WARNING - TEST WARNING',
 '2020-12-06 00:30:51,828 - root - ERROR - Test error',
 '2020-12-06 00:30:51,829 - root - CRITICAL - Test critical']

In [35]:
# add some mark by map
txt = ['lambda functions are anonymous functions.',
'anonymous functions dont have a name.',
'functions are objects in Python.']

# same work, i prefer list comprehension
result = [(True, line) if 'anonymous' in line else (False, line) for line in txt]
result = list(map(lambda line: (True,line) if 'anonymous' in line else (False, line), txt))
result

[(True, 'lambda functions are anonymous functions.'),
 (True, 'anonymous functions dont have a name.'),
 (False, 'functions are objects in Python.')]

In [46]:
# slice and search
letters = ''' We spent several years building our own database engine, Amazon Aurora, a fully-managed MySQL and PostgreSQL-compatible service with the same or better durability and availability as the commercial engines, but at one-tenth of the cost. We were not surprised when this worked.'''
kw = 'SQL'

find_function = lambda txt,kw: txt[txt.find(kw)-18 : txt.find(kw)+18] if kw in txt else -1

In [51]:
find_function(letters,'We')

''

In [58]:
# Replacement of strings
visitors = ['Firefox', 'corrupted', 'Chrome', 'corrupted', 'Safari', 'corrupted', 'Safari', 'corrupted', 'Chrome', 'corrupted', 'Firefox', 'corrupted']

# my solution
new_visitors = [visitors[i] if visitors[i]!= 'corrupted' else visitors[i-1] for i,item in enumerate(visitors)]

# given solution
visitors[1::2] = visitors[::2]
visitors

['Firefox',
 'Firefox',
 'Chrome',
 'Chrome',
 'Safari',
 'Safari',
 'Safari',
 'Safari',
 'Chrome',
 'Chrome',
 'Firefox',
 'Firefox']

# plot 
import matplotlib.pyplot as plt
cardiac_cycle = [62, 60, 62, 64, 68, 77, 80, 76, 71, 66, 61, 60, 62][1:-2] *10

plt.plot(cardiac_cycle)

In [65]:
any([])  # False
all([])  # TRUE!!

True

In [75]:
# use of any
# check if there is any value <9
companies = {'CoolCompany' : {'Alice' : 33, 'Bob' : 28, 'Frank' : 29}, 
             'CheapCompany' : {'Ann' : 4, 'Lee' : 9, 'Chrisi' : 7}, 
             'SosoCompany' : {'Esther' : 38, 'Cole' : 8, 'Paris' : 18}}

illegal = [x for x in companies if any(salary<9 for salary in companies[x].values())]
illegal = [company for company,salaries in companies.items() if any(salary<9 for salary in salaries.values())]
illegal

['CheapCompany', 'SosoCompany']

In [80]:
# Zip function
# zip/unzip

a = [1,2,3]
b = [4,5,6]
zipped = list(zip(a,b))

c,d = zip(*zipped)
c

(1, 2, 3)

In [81]:
zipped

[(1, 4), (2, 5), (3, 6)]

In [84]:
e = [i[0] for i in zipped]
e

[1, 2, 3]

In [96]:
# Your data consists of the column names and the employee data organized as list of tuples (rows). 
# Assign the column names to the rows and, thus, cre ate a list of dictionaries. 
# Each dictionary assigns the column names to the respective data values

column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'mid-level manager'), 
           ('Frank', 87000, 'CEO')]

# my solution
dicts = [{column_names[0]:row[0], column_names[1]:row[1],column_names[2]:row[2]} for row in db_rows]

# using zip
dicts = [dict(zip(column_names, row)) for row in db_rows]
dicts

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'},
 {'name': 'Bob', 'salary': 99000, 'job': 'mid-level manager'},
 {'name': 'Frank', 'salary': 87000, 'job': 'CEO'}]